{% extends 'base.html' %}
{% load slider_tags %}
{% load order_form_tags %}

{% block title %}Домашняя страница{% endblock %}

{% block slider %}
    {% show_slider %}
{% endblock %}

{% block order_form %}
    {% show_order_form request %}
{% endblock %}

{% block content %}
    <h1>Группа компаний «ОМЕГА»</h1>
    <p>Группа компаний «ОМЕГА» оказывает услуги грузоперевозок по России автомобильным транспортом грузоподъемностью от
        2-х
        до 20-ти тонн.</p>
    <p>Грузоперевозки являются одним из наиболее востребованных видов доставки в мире. Доступная стоимость услуг,
        высокая
        мобильность грузового транспорта и широкий выбор возможных маршрутов позволяют нам выполнять автоперевозки по
        всей
        России.</p>
    <h2>Мы предлагаем Вам:</h2>
    <ul>
        <li>
            <p><b>ВЫСОКУЮ НАДЕЖНОСТЬ</b><br>Специалисты нашей компании оперативно подберут для Вас оптимальный вариант
                грузового транспорта</p>
        </li>
        <li><p><b>КОНТРОЛЬ</b><br>Мы контролируем все этапы автоперевозки. Группа компаний «ОМЕГА» несет ответственность
            за состояние груза на всех этапах его доставки</p></li>
        <li><p><b>ДОПОЛНИТЕЛЬНЫЕ УСЛУГИ</b><br>Мы бесплатно страхуем все грузы Наших клиентов</p></li>
    </ul>
    <h3>Наши преимущества:</h3>
    <ul>
        <li>Большой парк техники грузоподъемностью от 2-х до 20-ти тонн</li>
        <li>Бесплатное страхование грузов</li>
        <li>Контроль движения груза в режиме реального времени (геолокация)</li>
        <li>Более 10 лет успешной работы на рынке</li>
        <li>Широкий штат квалифицированных сотрудников</li>
        <li>Гибкая система ценообразования</li>
    </ul>
{% endblock %}

