<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        {% for item in context %}
            <button type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="{{ forloop.counter0 }}"
                    class="{% if item.active %}active{% endif %}"
                    aria-current="{% if item.active %}true{% endif %}"
                    aria-label='Slide {{ forloop.counter }}'>
            </button>
        {% endfor %}
    </div>

    <div class="carousel-inner">
        {% for item in context %}
            <div class="carousel-item {% if item.active %}active{% endif %}">
                <img src="{{ item.img.url }}" class="d-block w-100" alt="{{ item.title }}">
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ item.title }}</h5>
                    <p>{{ item.text }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="container">
    <hr />
</div>